<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Password</title>
        <link rel="stylesheet" href="../static/css/bootstrap.css">
    </head>
    <body style="background-color: rgb(186, 185, 182);">
        <div class="container">
            <br><br><br>
            <form action="/change_password" method="post" class="w-50 mx-auto
                bg-secondary p-2">
                <h2>Change Password</h2>
                <i class="text-warning">{{message}}</i>
                <input name="email" type="email" placeholder="Enter your email"
                    class="form-control mb-3">
                <input name="password" type="password" placeholder="New
                    Password"
                    class="form-control mb-3">
                <input name="confirm" type="password" placeholder="Re-enter new
                    password"
                    class="form-control mb-3">
                <button type="submit" class="btn btn-success">Change Password</button>
            </form>

        </div>

    </body>
</html>